
.image-custom img {
  aspect-ratio: 16 / 9;
  width: 30px; 
  height: 20px;
  display: none;
}

.block.image-custom.aspect-ratio-4-3 picture {
  aspect-ratio: 4 / 3;
}

.block.image-custom.aspect-ratio-1-1 picture {
  aspect-ratio: 1 / 1;
}

.block.image-custom.aspect-ratio-3-4 picture {
  aspect-ratio: 3 / 4;
}

.block.image-custom.aspect-ratio-auto picture {
  aspect-ratio: auto;
}
