.image-custom img {
  /* Default aspect ratio if none selected */
  aspect-ratio: auto;
}

.image-custom.aspect-16-9 img {
  aspect-ratio: 16 / 9;
}

.image-custom.aspect-4-3 img {
  aspect-ratio: 4 / 3;
}

.image-custom.aspect-1-1 img {
  aspect-ratio: 1 / 1;
}

.image-custom.aspect-3-4 img {
  aspect-ratio: 3 / 4;
}

.image-custom.aspect-auto img {
  aspect-ratio: auto;
}