.section p {
    padding: 40px;
    background-color: red;
    color: green;
}


.section.green {
    background-color: green;
    color: white;
}

.section.dark-blue {
    background-color: #00008B;
    color: white;
}

.section.white {
    background-color: white;
    color: black;
}

.section.light-blue {
    background-color: lightblue;
    color: black;
}

.section.gradient {
    background: linear-gradient(to right, #ff00, #00ff);
}

.section.bg-image {
    background-image: url('path/to/your/image.jpg'); 
    background-size: cover;
    background-position: center;
}


.text.block.green p {
  color: green;
}

.text.block.dark-blue p {
  color: #00008b;
}

.text.block.white p {
  color: white;
}

.text.block.light-blue p {
  color: #add8e6;
}


.section.full-width {
    width: 100%;
}

.section.full-width-padding {
    width: 100%;
    padding: 1rem;
}

.section.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}




.section.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

